* {
    background-color: bisque;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.conatiner {
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    justify-content: space-between;
}

.unplash {
    height: auto;
    width: 50px;
}

#titlebulma {
    position: relative;
    top: 10px;
    color: brown;
    font-size: 35px;
    font-weight: bolder;
}

.hero-body {
    padding-bottom: 0px;
    padding-top: 30px;
}

#desc {
    position: relative;
    top: -45px;
}